/* PHASE 11: Icons */
[class*="icon-"] a {
    /* display: none; */
    /* background-color: red; */
    background-image: url(../images/sprite.png);
    background-size: 25px 25px;
    display: inline-block;
    overflow: hidden;
    height: 0px;
    padding-top: 25px;
    width: 25px;
}
