<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<br><br>
				<span>SECTIONS</span>
			</li>

			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>SEARCH</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li id="subscribe_now">
				<span>SUBSCRIBE NOW</span>
			</li>
			
			<li id="login_button">
				<span>LOG IN</span>
			</li>

			<li id="gear_button">
				<i class="fa fa-cog"></i>
			</li>
		</ul>
	</nav>
	
</header>
<hr />