h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile {
    height: 20px;
    width: 20px;
    background: lightgray;
    float: left;
    border-style: outset;
    border-width: 2px;
    line-height: 20px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.revealed {
    height: 20px;
    width: 20px;
    background: lightgray;
    float: left;
    border-style: inset;
    border-width: 2px;
    line-height: 20px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.flagged {
    color: red;
}

.bombed {
    color: maroon;
}
body {
    font-family: 'Long Cang', cursive;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
    cursor: none;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fullscreen {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}