/* PUT FLUID GRID CODE HERE */
.cg-1-3 {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    background-color: black;

}

.cg-2-3 {
    width: 66.66%;
    padding: 10px;
    box-sizing: border-box;
    float: right;
    background-color: green;

}